body{
margin:0;
font-family:sans-serif;
background:#0a0a0a;
color:white;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;
}

/* 로그인 */

.container{
width:320px;
background:#1b1b1b;
padding:30px;
border-radius:10px;
text-align:center;
}

.input-box{
margin:10px 0;
text-align:left;
}

input{
width:100%;
padding:10px;
border:none;
border-radius:6px;
background:#333;
color:white;
}

button{
width:100%;
padding:10px;
margin-top:10px;
border:none;
background:#e50914;
color:white;
cursor:pointer;
border-radius:6px;
}


/* 선택 화면 */

#choiceContainer{
display:none;
width:100%;
max-width:1200px;
text-align:center;
}

.title{
margin-bottom:40px;
font-size:40px;
}


/* 카드 */

.choice-grid{
display:grid;
grid-template-columns:repeat(4,1fr);
gap:20px;
padding:20px;
}

.choice-card{
background:#111;
border-radius:10px;
overflow:hidden;
cursor:pointer;
transition:0.3s;
}

.choice-card img{
width:100%;
height:200px;
object-fit:cover;
}

.choice-card p{
padding:10px;
font-size:18px;
}

.choice-card:hover{
transform:scale(1.08);
box-shadow:0 10px 25px rgba(0,0,0,0.7);
}


/* 디스코드 카드 */

.discord{
background:#5865F2;
}


/* 영상 화면 */

#videoScreen{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100vh;
background:black;
}

#ytPlayer{
width:100%;
height:100%;
border:none;
}


/* 뒤로가기 버튼 */

#backBtn{
position:fixed;
top:10px;
left:10px;
width:auto;
padding:6px 12px;
font-size:13px;
background:#e50914;
border:none;
border-radius:6px;
color:white;
cursor:pointer;
z-index:9999;
}

#backBtn:hover{
background:#b20710;
}


/* 모바일 */

@media(max-width:900px){

.choice-grid{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:500px){

.choice-grid{
grid-template-columns:1fr;
}

.title{
font-size:28px;
}

}

.name-box{
display:flex;
gap:10px;
}

.name-box input{
flex:1;
}

.dice-btn{
width:40px;
padding:0;
font-size:18px;
background:#444;
border:none;
border-radius:8px;
cursor:pointer;
}

.dice-btn:hover{
background:#666;
}
